.account-activate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f6f5f7;
  height: calc(100vh - 60px);
  font-family: 'Montserrat', sans-serif;
}

.account-activate-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.account-activate-title {
  font-size: 30px;
  font-weight: bold;
  margin: 40px auto;
}

.account-activate-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  align-items: center;
  height: 100px;
}

