.account-page {
    margin-top:15px;
    display:flex;
    flex-direction: column;
    gap:30px;
}
 
  .account-list-details {
    width:400px;
    list-style-type: none;
    border: 1px solid rgb(223, 219, 219);
    padding-left:0;
  }

 
  .account-list-details li {
    display: flex;
    gap:10px;
    padding:8px 0 8px 12px;
    
    font-size: large;
    border-bottom: 1px solid rgb(223, 219, 219);
    border-top: 1px solid rgb(223, 219, 219);
  }

  


  .account-list-details li:hover, .account-list-details link:hover {
    background-color: rgb(32, 42, 60);
    transition:300ms;
    color:  white;
  }



  .small-logo {
    font-size: medium;
    font-weight: 1800;
  }
 
  