.left {
  position: sticky;
  top: 30px;
  display: flex;
  justify-content: flex-start;
  width: 500px;
  height: 100%;
  z-index: 2;
}

.left_1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img_wrap {
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  cursor: pointer;
}

.img_wrap img {
  width: 76px;
  height: 76px;
  object-fit: cover;
}

.left_2 img {
  width: 500px;
  height: 100%;
  object-fit: contain;
}

@media only screen and (min-device-width: 945px) and (max-device-width: 1249px) and (-webkit-min-device-pixel-ratio: 2) {
  .left {
    width: 55%;
    height:100%;
    display: flex;
    justify-content: center;
  }

  .ad-stuff-under-images {
    margin-top:5px;
  }
}

@media screen and (max-width: 1000px) {
  .ad-stuff-under-images {
    display: none;
  }

  .left {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
  }

  .img_wrap {
    width: 100%;
    height: 30%;
    border: 1px solid #eee;
    cursor: pointer;
  }

  .img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .left_1 {
    width: 30%;
    height: 30%;
  }

  .left_2 {
    width: 130%;
    height: 100%;
  }
}
